[Unit]
Description=Automatically lock screen when idling

[Service]
Type=simple
ExecStart=/usr/bin/xautolock -time 5 -locker /usr/bin/i3lock-fancy -detectsleep

[Install]
WantedBy=graphical.target
