" ********
" zM fold all
" zR unfold all
" zo open fold
" zc close fold
" nnoremap gb :action GotoDatabaseObject<cr>
" nnoremap gp :action FindInPath<cr>
" nnoremap gk :action MethodUp<cr>
" nnoremap <leader>r[cvm] :action IntroduceConstant<cr>
" nnoremap <leader>u :action FindUsages<cr>
" nnoremap <leader>d :action Debug<cr>
" nnoremap g, :action JumpToLastChange<cr>
" nnoremap <leader>p :action PasteMultiple<cr>
" nnoremap <leader>vb :action Vcs.ShowBranches<cr>
" nnoremap <leader>vv :action Vcs.QuickListPopupAction<cr>
" nnoremap ge :action SearchEverywhere<cr>
" nnoremap <C-s> :w<cr>

" ctrl shift e - recent locations

set NERDTree
set clipboard=unnamedplus
set history=200
set hlsearch
set ideajoin
set ideamarks
set ignorecase
set incsearch
set number relativenumber
set scrolloff=1
set showcmd
set showmode
set smartcase

let mapleader = " "

nnoremap <C-s> :w<cr>
vnoremap <C-s> :w<cr>
inoremap <C-s> :w<cr>
nnoremap Y y$
nnoremap <C-h> <C-w>h
nnoremap <C-l> <C-w>l
nnoremap <C-k> <C-w>k
nnoremap <C-j> <C-w>j

nnoremap / :action Find<cr>
vnoremap / :action Find<cr>
nnoremap <leader>u :action FindUsages<cr>
vnoremap <leader>u :action FindUsages<cr>
nnoremap <leader>b :action ToggleLineBreakpoint<cr>
nnoremap gcc :action CommentByLineComment<cr>
vnoremap gc :action CommentByLineComment<cr>
nnoremap <leader>d :action Debug<cr>
nnoremap ge :action ShowErrorDescription<cr>
nnoremap gn :action SelectInProjectView<cr>
nnoremap gs :action FileStructurePopup<cr>

nnoremap <leader>s :action SplitVertically<cr>
nnoremap <leader>w :action HideAllWindows<cr>
nnoremap <leader>z :action ToggleZenMode<cr>
nnoremap g, :action JumpToLastChange<cr>
nnoremap g. :action JumpToNextChange<cr>
nnoremap gj :action MethodDown<cr>
nnoremap gk :action MethodUp<cr>
vnoremap gj :action MethodDown<cr>
vnoremap gk :action MethodUp<cr>

nnoremap <leader>i :action QuickImplementations<cr>
nnoremap <leader>p :action PasteMultiple<cr>
nnoremap <leader>f :action ReformatCode<cr>

nnoremap <leader>rc :action IntroduceConstant<cr>
vnoremap <leader>rc :action IntroduceConstant<cr>
nnoremap <leader>rm :action ExtractMethod  <Cr>
vnoremap <leader>rm :action ExtractMethod<Cr>
nnoremap <leader>rv :action IntroduceVariable<cr>
vnoremap <leader>rv :action IntroduceVariable<cr>
nnoremap R :action RenameElement<cr>
vnoremap R :action RenameElement<cr>
nnoremap gr :action Refactorings.QuickListPopupAction<cr>
vnoremap gr :action Refactorings.QuickListPopupAction<cr>

nnoremap <leader>vb :action Git.Branches<cr>
nnoremap <leader>vv :action Vcs.QuickListPopupAction<cr>

nnoremap gd :action GotoDeclaration<cr>
nnoremap gi :action GotoImplementation<cr>

"nnoremap ge :action Generate<cr>
nnoremap <leader>n :action NewFile<cr>

nnoremap gb :action GotoDatabaseObject<cr>
nnoremap gf :action GotoFile<cr>
nnoremap gp :action FindInPath<cr>
vnoremap gp :action FindInPath<cr>
" nnoremap ge :action SearchEverywhere<cr>
" vnoremap ge :action SearchEverywhere<cr>
nnoremap go :action GotoClass<cr>
vnoremap go :action GotoClass<cr>
nnoremap gl :action GotoSymbol<cr>
vnoremap gl :action GotoSymbol<cr>


nnoremap gm :action ManageRecentProjects<cr>

" Mapped inside pycharm
nnoremap <C-o> :action Back<cr>
vnoremap <C-o> :action Back<cr>
nnoremap <C-i> :action Forward<cr>
vnoremap <C-i> :action Forward<cr>
